/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-purple: #af8eb5;
  --color-blue-grey: #607d8b;
  --color-midium-bluegrey: #34515e;
  --color-dark-blue-grey: #263238;
  --color-instagram: #cd1460;
  --color-background-black: #1A1B1E;
  --color-dark-indigo: #9499b7;
  --color-light-green: #9ccc65;
  --color-lighter-green: #f8ffd7;
  --color-dark-green: #94af76;
  --color-dark-grey: #424242;
  --color-main-yellow: #FFB300;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-tiny: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bord: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 5px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-dark-blue-grey); */
  margin: 16px 0;
}

/* h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bord);
  color: var(--color-dark-blue-grey);
  margin: 8px 0;
} */

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue-grey);
  margin: 4px 0;
  line-height: 1.8;

}

ul {
  list-style: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  color:var(--color-light-white);
}

/* li {
  list-style: none;
} */

/* header */
.header {
  background-color: transparent;
  position: fixed;
  top:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
  padding-top: 4px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4px;
  border-radius: 2px 2px 30px 30px;
}

.header__logo__title a{
  text-decoration: none;
  color:var(--color-light-white);
  font-family: 'Pacifico', cursive;
  }

.header--dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
}


.header__menu {
  display: flex;
}


.header__menu__item {
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;

}

.header__menu__item:hover {
  color: var(--color-main-yellow);
  border-bottom: 1px solid var(--color-main-yellow);
}


.header__toggle-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 24px;
  display: none;
}


/* HOME */

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.9)) , url("img/background.jpg") center/cover no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}



.home__title,
.home__description {
  color: var(--color-light-white);
}

.auto_type{
  color:var(--color-main-yellow);
}






/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;  

}


/* About */
/* Profile */

.profile__section{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 100px;
}


.profile__img{
  width: 300px;
  height: 300px;
  margin-right: 60px;
}

.introduction h2{
  margin:0px;
  font-size:35px;
  margin:34px;
}

.introduction p{
  font-size:16px;
}


.btn__container{
  padding-top: 42px;
  display: flex;
 justify-content: center;
}


.btnPush {
  box-shadow: 0px 5px 0px 0px #cb8e00;
  background:var(--color-main-yellow);
}
.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #cb8e00;
}

a.button {
 
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}


/* About */
/* capability */


.hr-how {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
  overflow: visible;
  text-align: center;
}
.hr-how:after {
  background: white;
  content: "AND";
  display: inline-block;
  font: "BodoniXT" !important;
  font-size: 0.9em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}


.capability h2{
  font-size:35px;
  margin: 5rem 0;
}
.majors{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:8px;
  margin:1rem 0;
}

.major__img{
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  transition: all 300ms ease;
  
}

.major{
  background-color: #F7F8FA;
  padding: 1.5rem 3rem ;
  border-radius: 1rem;
  /* box-shadow: inset -12px -8px 40px #46464620; */
}




.major__title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-dark-blue-grey);
}

.major:hover .major__img{
  transform:rotate(-15deg) scale(1.3);
  
}


/* Skill */



/* skill ability +progress bar */

#skills {
  background-color: #1A1B1E; 
  }




.skills h2 {
  color:var(--color-light-white);
  font-size: 2.4rem;
}


.skills p {
  color:var(--color-light-white);
  font-size: 1rem;
}

.skillset {
  display: flex;
  background-color: transparent;
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: #34363C;
  padding: 20px 40px;
  border-radius: 20px 0 0 20px;
  box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.46) inset, 
  0 -5px 5px -4px rgba(0,0,0,0.46) inset;
 
}



.skill__section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.skill {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}


.icon {
  width: 40px;
  margin-right: 10px;
}

.icon img {
  width: 100%;
}

.skill__info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  left: 60px;
  font-weight: bold;
   
}

.skill__name {
  font-size: 14px;
  color: var(--color-light-white);
}

.skill__percent {
  font-size: 14px;
  color: var(--color-dark-blue-grey);
}

.skill__progressbar {
  width: 100%;
  height: 24px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.icon__transparent{
  background-color:var(--color-light-white);
  border-radius: 8px;

}


.skill__progress {
  height: 100%;
  background: rgb(247,143,15);
  background: linear-gradient(90deg, rgba(247,143,15,1) 0%, rgba(255,179,0,1) 48%, rgba(247,143,15,1) 100%, rgba(0,212,255,1) 100%);
  border-radius: 10px;
  width: 0;
  transition: width 1s ease-in-out; 
}






/* uxui design card */
 .skillset__right {
  flex-basis: 40%;

}

.skill__uxui {
  background-color: #282A2F;
  border-radius: 0 20px 0 0;
  box-shadow: -5px 5px 5px -4px rgba(0,0,0,0.46) inset;
  padding: 20px;

}

.card__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-content: center;
    
}

.skill__ability {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #34363C;
  margin: 0 10px;
  transition: .5s;
  z-index: 1;
 
}


/* 모달 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal__content {
  max-width: 50%;
  height: auto;
  background: white;
  border-radius: 5px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 20px;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */

}

.modal__content::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.modal__content a img{
  width:300px;
  height: auto
}


.modal__content img{
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  display: block;
}

.modal-open {
  overflow: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal__description p, li{
  color: #333;
  font-size: 1rem;
}

.modal__description h5{
  color:var(--color-dark-grey);
  
}


.project__modal{
  max-width: 80%;
  height: auto;
  background: white;
  border-radius: 5px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  padding:0;
}



.item__img svg {
  width: 70%;
  height: auto;
  transition: .5s;
}

.item__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color:  #FFF8E1;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
  opacity: 0;
}

.item__img:hover::before {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0 15px  #FFF8E1;
}

.item__img svg{
  filter:brightness(0) saturate(100%) invert(33%) sepia(0%) saturate(594%) hue-rotate(324deg) brightness(96%) contrast(92%);
}



.skill__title{
  margin:0;
} 


.language{
  background:radial-gradient(#5d5c5f, #34363C);
  padding:1rem;
  box-shadow: -5px -5px 5px -4px rgba(0,0,0,0.46) inset;
  border-radius: 0 0 20px 0 ;

}

.language__container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row_1, .row_2{
  display:flex;
}


.progress__content h2{
  font-weight: 700;
  font-size: 1.3rem;
  color:var(--color-light-white);
}

.progress__circle{
  position:relative;
  background:transparent;
  border:#1b1b1b 4px solid;
  width: 5.5em;
  height: 5.5em;
  border-radius: 100%;
  overflow: hidden;
  margin:12px;
}

.progress{
  width:5em;
  height: 5em;
  position: absolute;
  bottom: -117%;
  background: rgb(242,223,133);
  background: linear-gradient(180deg, rgba(242,223,133,1) 3%, rgba(55,142,179,1) 48%, rgba(26,85,119,1) 100%);
  transition: bottom 2.5s;
}

.progress__content{
  background: linear-gradient(
    157deg, #292929 0%, #131313 100%);
  width: 4.6em;
  height: 4.7em;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  z-index: 1;
}

.progress_card h5{
  font-size: 16px;
  font-weight: 400;
}




/* Work*/

#work{
  background-color: #F7F8FA;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}


.category{
  font-size: 16px;
    font-weight: 600;
    padding: 20px;
    margin: 14px;
    width: 190px;
    background: #F7F8FA;
    cursor: pointer;
    border: none;
    color: #7a7a7a;
    border-radius: 50px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16), 
                -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.category.category__selected{
  color:#0dba6f;
  box-shadow: inset 10px 10px 10px -1px rgba(10,99,169,0.16),
              inset -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
  pointer-events: none;
  opacity: 1;
}

/* project */


.projects{
 
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
  gap:1.4rem;
  transition:all 250ms ease-out;
}

.project{
  background: #F7F8FA;
  border-radius: 12px;
  box-shadow: 5px 5px 5px -1px rgba(10,99,169,0.16), 
  -5px -5px 5px -1px rgba(255, 255, 255, 0.70);
  overflow: hidden;
}

.project:hover{
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}


.project__img{
width:100%;
}

.projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

.project__metadata h3{
  color:#929292;
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 5px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  margin: 12px;
 
}

.tag {
  display: flex;
  padding: 5px 14px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  font-size: 14px;
  color:var(--color-dark-blue-grey);
}


/* Contact */
#contact {
  background-color: #1A1B1E;

}

.footer__row1{
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container{
  width: 30%;

}

.footer__row1 img{
  width: 100%;
}

.footer__row2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  
}

.contact__sns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}

.contact__sns h3, .contact__email h3{
color:var(--color-light-white);
font-size: 1rem;
}

.contact__links {
  display: flex;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links li{
  margin: 0 6px;
}


/* github */
.contact__links li:nth-child(1) a i {
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 24px;  
}

.contact__links li:nth-child(1) a i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #4078c0;
  background-color: #4078c0;
}

/* instagram */
.contact__links li:nth-child(2) a i {
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 24px;
  
}

.contact__links li:nth-child(2) a i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px  #405de6, 
  0 0 8px 0 #ff7a15,
  0 0 8px 0 #ffdd00;
  background-image: linear-gradient(120deg, #405de6, #ff7a15, #ffdd00, #e1306c, #833ab4, #405de6);
}

/* youtube */
.contact__links li:nth-child(3) a i {
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 24px;  
}

.contact__links li:nth-child(3) a i:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ff0000;
  background-color: #ff0000;
}



.contact__email h2{
  font-size: 1.6rem;
  color:var(--color-light-white);
  font-family: 'Single Day', cursive;
}

.copyright{
color: var(--color-light-white);
font-size: 14px;
margin-top: 3rem;
}




/* grocery.html page css */



.header--active{
  opacity: 1;
}




    /* 각 섹션 스타일 */
    .grocery__section{
      margin-bottom: 20px;
      padding: 20px;
    
    }
    /* 이미지 스타일 */
    .project-image {
      max-width: 100%;
      height: auto;
    }

    .container .title h1{
      font-size: 2rem;
      margin: 0;
      font-family: Helvetica;
      font-weight: 600;
    }

    .container .title h1 span{
      border-radius: 15px 15px 15px 0; 
      border: 3px solid #FF8F00; 
      padding: 0.5em 0.6em; 
      color: #FF8F00;
    }


    .container .title h2{
      color: #555;
      font-weight: 400;
      margin-top: 3rem;
      font-size: 1.2rem;
      margin-left: 5rem;
    }


    .container .title h2 span{
      border-radius: 12px 12px 0 12px; 
      border: 2px solid #aeaeae; 
      padding: 0.5em 0.6em; 
      color: #aeaeae;
      
    }
    .project__section p{
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .project__section{
      padding: 24px 50px;
      text-align: center;
      margin: auto;
    }

    .list__learned{
      font-family: 'Zen Maru Gothic', serif;
      font-size: 1.4rem;
      background: white;
      margin: 0;
      padding: 3rem;
      min-height: 100vh;
      text-align: left;
    }

    .list__learned ul{
      list-style: none;
      list-style-position: inside;
      
      background: white;
      box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 /0.15);
      padding: 2rem;
      margin:0;
      border-radius: 0.1rem;

    }

    .list__learned ul li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
    }

.list__learned li:not(:last-child) {
	border-bottom: 1px solid lightblue;
}

.list__learned li:first-child {
	margin-top: 1rem;
}

.list__learned li:last-child {
	margin-bottom: 1rem;
}


.project__section li::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") ' ';
}





@media screen and (max-width: 767px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-tiny: 12px;
  }



  .header__toggle-btn {
    display: block;
    color:var(--color-light-white);
    border:none;
    background-color: transparent;
  }

  .header__menu{
position:fixed;
left: -100%;
top:44px;
flex-direction: column;
gap:0;
width:100%;
text-align: center;
transition: 0.6s;
background-color: rgba(0, 0, 0, 0.8);
  }

  .header__menu li{
    margin:16px 0;
  }

  .header__menu.open {
left:0;
  
}


  .header.header--dark {
  padding:1rem;
   border-radius: 0;
  }

   .section {
    padding: 40px;
  } 

  /* major */
  .profile__section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 24px;
  }

  .profile__img{
    width: 200px;
    height: 200px;
    margin-right: 0;
    transition: all 0.3s ease;
  }

  a.button { 
    width: 120px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  
 
  .majors {
    
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .major{
 
    background-color: #F7F8FA;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    margin-bottom: 15px;
    }
    

  .major__img {
    width: 80px;
    height: 80px;
    margin-bottom: 0.4rem;
    transition: all 300ms ease;
}

.major__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  color: var(--color-dark-blue-grey);
}




  .skillset {
    flex-direction: column;
  }


  .skillset__left {
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 0 5px -4px rgba(0,0,0,0.46) inset, 
    -5px 0 5px -4px rgba(0,0,0,0.46) inset,
    0 5px 5px -4px rgba(0,0,0,0.46) inset;
  }

  .skill__uxui {
    background-color: #282A2F;
    border-radius: 0 0 0 0;
    box-shadow: 5px 0 5px -4px rgba(0,0,0,0.46) inset, 
    -5px 0 5px -4px rgba(0,0,0,0.46) inset;
   
  }


  .skill__info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 74%;
    left: 60px;
    font-weight: bold;
  }



  /* 모달창 */
  .modal__content {
    max-width: 80%;
    height: auto;
    background: white;
    border-radius: 5px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
  
  }

  
  .modal__description{
    padding: 15px 20px 0 20px;
  }

  .project__modal{
    max-width: 93%;
    height: auto;
    background: white;
    border-radius: 5px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    padding:0;
  }



.language{
  background-color: #4c4f57;
  padding:1rem;
  box-shadow: -5px -5px 5px -4px rgba(0,0,0,0.46) inset,
  5px 0 5px -4px rgba(0,0,0,0.46) inset;
  border-radius: 0 0 20px 20px ;
}

.logo__container {
  width: 50%;
}

.tag {
  font-size: 12px;
  padding: 4px 7px;
  border-radius: 13px;
}



.footer__row2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.contact__sns{
  margin:0;
}
.contact__links {
  margin-bottom: 2rem;
}

.contact__links li:nth-child(1) a i, 
.contact__links li:nth-child(2) a i,
.contact__links li:nth-child(3) a i{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 24px;
}

.contact__email h2 {
  font-size: 1.2rem;
  

}

/* learned section */


.container .title h1 {
 font-size: 1rem;
}

.container .title h2{
  font-size: 12px;
  margin-top: 1.7rem;
}

.project__section{
  padding: 8px 30px;
  margin-bottom: 20px;
}

.project__section p{
  font-size:14px;
  
}

.list__learned{
  display: flex;
  flex-direction: column;
}



}
