@charset "UTF-8";
/* Global */
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-purple: #af8eb5;
  --color-blue-grey: #607d8b;
  --color-midium-bluegrey: #34515e;
  --color-dark-blue-grey: #263238;
  --color-instagram: #cd1460;
  --color-background-black: #1a1b1e;
  --color-dark-indigo: #9499b7;
  --color-light-green: #9ccc65;
  --color-lighter-green: #f8ffd7;
  --color-dark-green: #94af76;
  --color-dark-grey: #424242;
  --color-main-yellow: #ffb300;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-tiny: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 5px;
  /* Annimation */
  --animation-duration: 300ms;
}
@media (max-width: 480px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-tiny: 12px;
  }
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  /* color: var(--color-dark-blue-grey); */
  margin: 16px 0;
}

/* h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-blue-grey);
  margin: 8px 0;
} */
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue-grey);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-blue-grey);
  margin: 4px 0;
  line-height: 1.8;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-light-white);
}

/* li {
  list-style: none;
} */
/* ==================================================
  HEADER
================================================== */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px 2px 30px 30px;
}
@media (max-width: 480px) {
  .header {
    margin-top: 1rem;
  }
}
.header--dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
}
@media (max-width: 480px) {
  .header--dark {
    padding: 1rem;
    border-radius: 0;
  }
}
.header .header__con {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.header__logo__title a {
  text-decoration: none;
  color: var(--color-light-white);
  font-family: "Pacifico", cursive;
}
.header__menu {
  display: flex;
}
@media (max-width: 480px) {
  .header__menu {
    position: fixed;
    left: -100%;
    top: 44px;
    flex-direction: column;
    gap: 0;
    width: 100%;
    text-align: center;
    transition: 0.6s;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.header__menu__item {
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 8px;
}
@media (max-width: 480px) {
  .header__menu__item {
    margin: 16px 0;
  }
}
.header__menu__item:hover {
  box-shadow: 0 0 5px #dda0dd, 0 0 15px #8a2be2, 0 0 25px #9400d3, 0 0 35px #ff00ff;
}
@media (max-width: 480px) {
  .header .header__menu.open {
    left: 0;
  }
}
.header__toggle-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 24px;
  display: none;
}
@media (max-width: 480px) {
  .header__toggle-btn {
    top: 0;
    display: block;
    color: var(--color-light-white);
    border: none;
    background-color: transparent;
  }
}

/* ==================================================
  HOME
================================================== */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("img/background.jpg") center/cover no-repeat;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home .home__title,
#home .home__description {
  color: var(--color-light-white);
}
@media (max-width: 480px) {
  #home .home__description {
    font-size: 1rem;
  }
}
#home .auto_type {
  color: var(--color-main-yellow);
}
#home .neon {
  font-family: Quicksand;
}
#home .neon {
  animation: neon 2s ease infinite;
  -moz-animation: neon 2s ease infinite;
  -webkit-animation: neon 2s ease infinite;
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 15px #dda0dd, 0 0 25px #8a2be2, 0 0 35px #9400d3, 0 0 45px #ff00ff;
    color: #ffcbff;
  }
  50% {
    text-shadow: none;
    color: #3d3d3d;
  }
}

/* ==================================================
   Section Common
================================================== */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* ==================================================
   About - Profile
================================================== */
.profile__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 100px;
}
.profile__section .profile__img {
  width: 300px;
  height: 300px;
  margin-right: 60px;
}
.profile__section .introduction h2 {
  margin: 34px 0;
  font-size: 35px;
}
.profile__section .introduction p {
  font-size: 16px;
}

.btn__container {
  padding-top: 42px;
  display: flex;
  justify-content: center;
}
.btn__container .btnPush {
  box-shadow: 0px 5px 0px 0px #cb8e00;
  background: var(--color-main-yellow);
}
.btn__container .btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: none;
}
.btn__container a.button {
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}

.hr-how {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;
  overflow: visible;
  text-align: center;
}
.hr-how::after {
  background: white;
  content: "AND";
  display: inline-block;
  font: "BodoniXT" !important;
  font-size: 0.9em;
  padding: 0 0.6em;
  position: relative;
  top: -0.7em;
}

.capability h2 {
  font-size: 35px;
  margin: 5rem 0;
}
.capability .majors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin: 1rem 0;
}
.capability .majors .major {
  background-color: #f7f8fa;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
}
.capability .majors .major__img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}
.capability .majors .major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-dark-blue-grey);
}
.capability .majors .major:hover .major__img {
  transform: rotate(-15deg) scale(1.3);
}

/* ==================================================
   Skills
================================================== */
#skills {
  background-color: var(--color-background-black);
}
#skills .skills h2,
#skills .skills p {
  color: var(--color-light-white);
}
#skills .skills h2 {
  font-size: 2.4rem;
}
#skills .skills p {
  font-size: 1rem;
}
#skills .skillset {
  display: flex;
  background-color: transparent;
  color: var(--color-light-white);
  margin: 20px 0;
}
#skills .skillset__title {
  color: var(--color-white);
}
#skills .skillset__left {
  flex-basis: 60%;
  background-color: #34363c;
  padding: 20px 40px;
  border-radius: 20px 0 0 20px;
  box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.46) inset, 0 -5px 5px -4px rgba(0, 0, 0, 0.46) inset;
}
#skills .skillset__left .skill__section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}
#skills .skillset__left .skill__section .skill {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
#skills .skillset__left .skill__section .skill .icon {
  width: 40px;
  margin-right: 10px;
}
#skills .skillset__left .skill__section .skill .icon img {
  width: 100%;
}
#skills .skillset__left .skill__section .skill .icon .icon__transparent {
  background-color: var(--color-light-white);
  border-radius: 8px;
}
#skills .skillset__left .skill__section .skill__info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  left: 60px;
  font-weight: bold;
}
#skills .skillset__left .skill__section .skill__info .skill__name {
  font-size: 14px;
  color: var(--color-light-white);
}
#skills .skillset__left .skill__section .skill__info .skill__percent {
  font-size: 14px;
  color: var(--color-dark-blue-grey);
}
#skills .skillset__left .skill__section .skill__progressbar {
  width: 100%;
  height: 24px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}
#skills .skillset__left .skill__section .skill__progressbar .skill__progress {
  height: 100%;
  background: rgb(247, 143, 15);
  background: linear-gradient(90deg, rgb(247, 143, 15) 0%, rgb(255, 179, 0) 48%, rgb(247, 143, 15) 100%, rgb(0, 212, 255) 100%);
  border-radius: 10px;
  width: 0;
  transition: width 1s ease-in-out;
}
#skills .skillset__right {
  flex-basis: 40%;
}
#skills .skillset__right .skill__uxui {
  background-color: #282a2f;
  border-radius: 0 20px 0 0;
  padding: 20px;
}
#skills .skillset__right .skill__uxui .card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
#skills .skillset__right .skill__uxui .card__list .skill__ability {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#skills .skillset__right .skill__uxui .card__list .skill__ability .item__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #34363c;
  margin: 0 10px;
  transition: 0.5s;
  z-index: 1;
}
#skills .skillset__right .skill__uxui .card__list .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 4;
}
#skills .skillset__right .skill__uxui .card__list .modal__content {
  max-width: 50%;
  height: auto;
  background: white;
  border-radius: 5px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 20px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
#skills .skillset__right .skill__uxui .card__list .modal__content::-webkit-scrollbar {
  display: none;
}
#skills .skillset__right .skill__uxui .card__list .modal__content img {
  width: 300px;
  height: auto;
}
#skills .skillset__right .skill__uxui .card__list .modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */